<template>
    <div style="height: 100%;margin-top:15px;">
        <div class="patern-box" v-if="archivoSeleccionado != null">
            <el-tabs tab-position="top" style="height: 100%;overflow: none;margin-left: 15px;margin-right:15px;" >
                <el-tab-pane label="Diseño">
                    <span slot="label"><i class="el-icon-picture"></i> Diseño</span>
                    <span style="margin-bottom:5px;">
                        <h3 style="display:inline;">Archivo: {{archivoSeleccionado.nombre}}</h3>
                        <el-button type="text" @click="descargarArchivoSeleccionado()" icon="el-icon-download" class="space-bottom" style="margin-left: 15px;" size="mini">Descargar archivos</el-button>
                    </span>
                    
                    <div class="box-design" id="box-design" v-html="htmlFile" @mousemove="doDrag" @mouseup="stopDrag" >

                    </div>
                </el-tab-pane>
                <el-tab-pane>
                    <span slot="label"><i class="el-icon-edit-outline"></i> Código</span>
                    <div>
                        <prism-editor style="height: 500px" :code="htmlFile" language="html"></prism-editor>
                    </div>
                </el-tab-pane>
                
            </el-tabs>
            
        </div>
        <div v-else style="margin-top: 10em;height: 100%;">
            <h1 style="text-align: center;">No hay archivos para editar.</h1>
            <p style="text-align: center; border: none;"> Agregue o seleccione un archivo para continuar</p>
        </div>
    </div>
</template>

<script>
export default {
    name: 'Design',
    data(){
        return {
            dragging: false,
        }
    },
    updated(){
        if(this.archivoSeleccionado != null){
            this.elementos.map(el => {
                console.log(el);
                document.getElementById(`el-design-${el.id}`).addEventListener('contextmenu', (ev) => {
                    ev.preventDefault();
                    window.Store.dispatch("onPropiedadesTab", el);
                    return false;
                });
                document.getElementById(`el-design-${el.id}`).addEventListener('mousedown', (ev) => {
                    //ev.preventDefault(); // para habilitar el contenido del input
                    if(this.dragging == false ){
                        this.startDrag();
                        window.Store.dispatch("onPropiedadesTab", el);
                    }   
                });
            });
        }
    },
    methods: {
        startDrag(){
            console.log("startDrag")
            this.dragging = true;
            //ev.preventDefault();
        },
        stopDrag(ev) {
            console.log("stopDrag")
            this.dragging = false;
        },
        doDrag(ev){
            
            if(this.elementoSeleccionado != null){
                if(this.dragging == true & ev.target.id != `el-design-${this.elementoSeleccionado.id}` ) {
                    //console.log(this.elementoSeleccionado)
                    var elWidth = (this.elementoSeleccionado.style.width * 100)/ev.target.offsetWidth;
                    var elHeight = (this.elementoSeleccionado.style.height *100)/ev.target.offsetHeight;

                    if( ((((ev.offsetX) * 100) / ev.target.offsetWidth ) + elWidth ) < 95)
                        this.elementoSeleccionado.style.left = (((ev.offsetX) * 100) / ev.target.offsetWidth );
                    if( ((((ev.offsetY)  * 100) / ev.target.offsetHeight ) + elHeight) < 95)
                        this.elementoSeleccionado.style.top = (((ev.offsetY)  * 100) / ev.target.offsetHeight )
                    
                    //this.elementoSeleccionado.contenido = `${this.elementoSeleccionado.style.left}, ${this.elementoSeleccionado.style.top}`
                }else if(this.dragging & ev.target.id == `el-design-${this.elementoSeleccionado.id}`){
                    //console.log("dr",ev)
                    var elWidth = (this.elementoSeleccionado.style.width * 100)/ev.target.offsetWidth;
                    var elHeight = (this.elementoSeleccionado.style.height *100)/ev.target.offsetHeight;

                    if((this.elementoSeleccionado.style.left + (ev.target.offsetLeft * 100) / elWidth ) < 95)
                        this.elementoSeleccionado.style.left += (ev.target.offsetLeft * 100) / elWidth;
                    if((this.elementoSeleccionado.style.top + (ev.target.offsetTop * 100) / elHeight) < 95)
                        this.elementoSeleccionado.style.top += (ev.target.offsetTop * 100) / elHeight;
                }
            }
            //ev.preventDefault();
        },
        descargarArchivoSeleccionado(){
            this.download(this.html, this.archivoSeleccionado.nombre)
            this.download(this.css, this.archivoSeleccionado.nombre.replace('html', 'css'))
        },
        download(data, name){
            var hiddenElement = document.createElement('a');
            hiddenElement.href = 'data:text/plain;charset=utf-8,' + encodeURIComponent(data);
            hiddenElement.target = '_blank';
            hiddenElement.download = name;
            hiddenElement.click();
        }
    },
    computed: {
        html(){
            return this.$store.getters.download_html;
        },
        css(){
            return this.$store.getters.download_css;
        },
        htmlFile(){
            return this.$store.getters.htmlFile;
        },
        elementos(){
            return this.$store.getters.elementos;
        },
        styles(){
            return this.$store.getters.styles;
        },
        elementoSeleccionado(){
            return this.$store.getters.elementoSeleccionado
        },
        archivoSeleccionado(){
            return this.$store.getters.archivoSeleccionado
        }
    }
}
</script>

<style>
    .box-design{
        position: relative;
        background-image: repeating-linear-gradient(0deg,transparent,transparent 70px,#CCC 70px,#CCC 71px),repeating-linear-gradient(-90deg,transparent,transparent 70px,#CCC 70px,#CCC 71px);
        background-size: 71px 71px;
        border: 1px solid #CCC;
        height: 550px;
    }
    .box-design h1:hover, p:hover{
        border: 2px dashed #3a7999;
        cursor: move;
    }
    .box-design h1, p {
        -webkit-touch-callout: none; /* iOS Safari */
        -webkit-user-select: none; /* Safari */
        -khtml-user-select: none; /* Konqueror HTML */
        -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
        user-select: none; /* Non-prefixed version, currently
        supported by Chrome and Opera */
    }
    .patern-box{
        padding-bottom: 15px;
        margin-top: 5px;
        padding-top: 5px;
        background-color: #fafafa;
        border-radius: 12px;
        box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.1), 0px 0px 0px 0px rgba(0, 0, 0, 0.2); 

    }
    .center-text{
        text-align: center;
    }
    
    .space-bottom{
        left: 10%;
        margin-bottom: 10px;
    }

    table, tr, td {
            border: 1px solid black;
    }
</style>
