<template>
    <div class="space" style="" > 
        <el-collapse style="margin:none:padding:none;">
            <el-collapse-item title="Componentes y propiedades" name="1">
                <el-tabs tab-position="top" type="border-card"  style="height: 150px" v-model="herramientasTabSelected" v-if="archivoSeleccionado != null">
                    <el-tab-pane label="Componentes" style="padding:none;">
                        <el-row type="flex" justify="space-around" >
                            <el-col :span="3" style="cursor: pointer">
                                <el-tooltip content="Agregar un panel" placement="top" style="text-align: center">
                                    <div class="component" style="font-size: 12px;">
                                        <div @click="agregarComponente('div')" style="padding:0px;">
                                            <v-icon name="window-maximize" style="color: #409EFF"/>
                                        </div>
                                        Panel
                                    </div>
                                </el-tooltip>
                            </el-col>
                            <span style="heigth:100%;width:1px;background-color:#C0C4CB;margin:0px;">

                            </span>
                            <el-col :span="3" style="cursor: pointer">
                                <el-tooltip content="Agregar un input" placement="top" style="text-align: center">
                                    <div class="component" style="font-size: 12px;">
                                        <div @click="agregarComponente('input')">
                                            <v-icon name="keyboard" style="color: #409EFF"/>
                                        </div>
                                        Input
                                    </div>
                                </el-tooltip>
                            </el-col>
                            <el-col :span="3" style="cursor: pointer">
                                <el-tooltip content="Agregar un botón (button)" placement="top" style="text-align: center">
                                    <div class="component" style="font-size: 12px;">
                                        <div @click="agregarComponente('button')">
                                            <v-icon name="paper-plane" style="color: #409EFF"/>
                                        </div>
                                        Button
                                    </div>
                                </el-tooltip>
                            </el-col>
                            <span style="heigth:100%;width:1px;background-color:#C0C4CB;margin:0px;">

                            </span>
                            <el-col :span="3" style="cursor: pointer">
                                <el-tooltip content="Agregar un area de texto (textarea)" placement="top">
                                    <div class="component" style="font-size: 12px;">
                                        <div @click="agregarComponente('textarea')">
                                            <v-icon name="window-maximize" style="color: #409EFF"/>
                                        </div>
                                        Text area
                                    </div>
                                </el-tooltip>
                            </el-col>
                            <el-col :span="3" style="cursor: pointer">
                                <el-tooltip content="Agregar un encabezado (H)" placement="top" style="text-align: center">
                                    <div class="component" style="font-size: 12px;">
                                        <div @click="agregarComponente('h1')">
                                            <v-icon name="heading" style="color: #409EFF"/>
                                        </div>
                                        Encabezado
                                    </div>
                                </el-tooltip>
                            </el-col>
                            <el-col :span="3" style="cursor: pointer">
                                <el-tooltip content="Agregar un parrafo (P)" placement="top" style="text-align: center">
                                    <div class="component" style="font-size: 12px;">
                                        <div @click="agregarComponente('p')">
                                            <v-icon name="paragraph"  style="color: #409EFF"/>
                                        </div>
                                        Parrafo
                                    </div>
                                </el-tooltip>
                            </el-col>
                            <el-col :span="3" style="cursor: pointer">
                                <el-tooltip content="Agregar un label (label)" placement="top">
                                    <div class="component" style="font-size: 12px;">
                                        <div @click="agregarComponente('label')">
                                            <v-icon name="font"  style="color: #409EFF"/>
                                        </div>
                                        Label
                                    </div>
                                </el-tooltip>
                            </el-col>
                            <span style="heigth:100%;width:1px;background-color:#C0C4CB;margin:0px;">

                            </span>
                            <el-col :span="3" style="cursor: pointer">
                                <el-tooltip content="Agregar una tabla (table)" placement="top" style="text-align: center">
                                    <div class="component" style="font-size: 12px;">
                                        <div @click="agregarComponente('table')">
                                            <v-icon name="table" style="color: #409EFF"/>
                                        </div>
                                        Tabla
                                    </div>
                                </el-tooltip>
                            </el-col>
                            <el-col :span="3" style="cursor: pointer">
                                <el-tooltip content="Agregar una combo box (select)" placement="top" style="text-align: center">
                                    <div class="component" style="font-size: 12px;">
                                        <div @click="agregarComponente('select')">
                                            <v-icon name="list-ul" style="color: #409EFF"/>
                                        </div>
                                        Select
                                    </div>
                                </el-tooltip>
                            </el-col>
                        </el-row>
                        
                        
                    </el-tab-pane>
                    <el-tab-pane label="Propiedades"  v-if="elementoSeleccionado != null" style="overflow: auto; height: 150px;"> 
                        <span slot="label"><i class="el-icon-setting"></i>Propiedades</span>
                        <el-row :gutter="20">
                            <el-col :span="3" v-if="(elementoSeleccionado.tipo != 'input') & elementoSeleccionado.tipo != 'table' & elementoSeleccionado.tipo != 'select' & elementoSeleccionado.tipo != 'div'">
                                <label style="margin-right: 5px;">Tamaño letra:  </label>
                                <el-input-number size="mini" v-model="elementoSeleccionado.style.tamanio_letra" :min="1" :max="100" :step="4"></el-input-number>
                                <el-button-group style="margin-top: 5px;">
                                    <el-button size="mini" type="primary" icon="el-icon">B</el-button>
                                    <el-button size="mini" type="primary" icon="el-icon">I</el-button>
                                    <el-button  size="mini" type="primary" icon="el-icon">U</el-button>
                                </el-button-group>
                            </el-col>
                            <el-col :span="4" v-if="(elementoSeleccionado.tipo != 'input') & elementoSeleccionado.tipo != 'table' & elementoSeleccionado.tipo != 'select' & elementoSeleccionado.tipo != 'div'">
                                <el-input class="input-modif" placeholder="Texto dentro del componente" v-model="elementoSeleccionado.contenido"></el-input>
                            </el-col>
                            <el-col :span="3" v-if="elementoSeleccionado.tipo == 'select'" >
                                <label for="">Opciones</label>
                                <el-select
                                    v-model="elementoSeleccionado.sl_opciones"
                                    multiple
                                    filterable
                                    allow-create
                                    placeholder="Opciones">
                                    <el-option
                                    v-for="opc in elementoSeleccionado.sl_opciones"
                                    :key="`xopc-${opc}`"
                                    :label="opc"
                                    :value="opc">
                                    </el-option>
                                </el-select>
                            </el-col>
                            <el-col :span="3" v-if="elementoSeleccionado.tipo == 'table'" >
                                <label for="">Filas:</label><br>
                                <el-input-number size="mini" v-model="elementoSeleccionado.t_rows" :min="1" :max="50" :step="1"></el-input-number>
                            </el-col>
                            <el-col :span="3" v-if="elementoSeleccionado.tipo == 'table'" >
                                <label for="">Columnas:</label><br>
                                <el-input-number size="mini" v-model="elementoSeleccionado.t_cols" :min="1" :max="50" :step="1"></el-input-number>

                            </el-col>
                            
                            <el-col :span="3" v-if="elementoSeleccionado.tipo == 'div'" >
                                <el-input class="input-modif" placeholder="SRC image" v-model="elementoSeleccionado.background_src"></el-input>
                            </el-col>
                            <el-col :span="3" v-if="elementoSeleccionado.tipo == 'input'" >
                                <label>Tipo de input: </label>
                                <el-select v-model="elementoSeleccionado.tipo_input" placeholder="Seleccione tipo de input">
                                    <el-option
                                        label="Password"
                                        value="password">
                                    </el-option>
                                    <el-option
                                        label="Submit"
                                        value="Submit">
                                    </el-option>
                                    <el-option
                                        label="Text"
                                        value="text">
                                    </el-option>
                                    <el-option
                                        label="Number"
                                        value="number">
                                    </el-option>
                                    <el-option
                                        label="Email"
                                        value="email">
                                    </el-option>
                                    <el-option
                                        label="Radio button"
                                        value="radio">
                                    </el-option>
                                    <el-option
                                        label="CheckBox"
                                        value="checkbox">
                                    </el-option>
                                </el-select>
                                <div v-if="elementoSeleccionado.tipo_input == 'checkbox' | elementoSeleccionado.tipo_input == 'radio'">
                                    <el-input class="input-modif" placeholder="Texto dentro del componente" v-model="elementoSeleccionado.contenido"></el-input>
                                </div>
                            </el-col>
                            <el-col :span="2" >
                                <div class="block" style="text-align: center">
                                    <span class="demostration">Color:</span>
                                    <br>
                                    <el-color-picker v-model="elementoSeleccionado.style.color" ></el-color-picker>
                                </div>
                            </el-col>
                            <el-col :span="2">
                                <div class="block" style="text-align: center">
                                    <span class="demostration">Background:</span>
                                    <br>
                                    <el-color-picker v-model="elementoSeleccionado.style.background" ></el-color-picker>
                                </div>
                            </el-col>
                            <el-col :span="2">
                                <label>Ancho</label>
                                <el-slider v-model="elementoSeleccionado.style.width" :min="0" :max="100" style="padding-left: 15px;padding-right: 15px;"></el-slider>
                            </el-col>
                            <el-col :span="2">
                                <label>Alto:</label>
                                <el-slider v-model="elementoSeleccionado.style.height" :min="0" :max="100" style="padding-left: 15px;padding-right: 15px;"></el-slider>
                            </el-col>
                            <el-col :span="3">
                                <label>Tipo de posición</label>
                                <el-select v-model="elementoSeleccionado.style.position" placeholder="Select">
                                    <el-option
                                        label="Relativa"
                                        value="relativa">
                                    </el-option>
                                    <el-option
                                        label="Absoluta"
                                        value="absolute">
                                    </el-option>
                                </el-select>
                            </el-col>

                            <el-col :span="2">
                                <label>Posición X:</label>
                                <el-slider v-model="elementoSeleccionado.style.left" :min="0" :max="100" style="padding-left: 15px;padding-right: 15px;"></el-slider>
                            </el-col>
                            <el-col :span="2">
                                <label>Posición Y:</label>
                                <el-slider v-model="elementoSeleccionado.style.top" :min="0" :max="100"  style="padding-left: 15px;padding-right: 15px;" ></el-slider>
                            </el-col>
                    
                            <el-button @click="eliminarElemento()"  style="margin-left: 5px; margin-top: 10px;" type="danger" plain>Eliminar</el-button>
                        </el-row>
                    </el-tab-pane>
                </el-tabs>
            </el-collapse-item>
        </el-collapse>
    </div>
</template>

<script>
export default {
    name: 'Herramientas',
    data(){
        return {
            filtro: '',
            contenido: ''
        }
    },
    methods: {
        agregarComponente(tipo){
            this.$store.dispatch('agregarElemento', tipo)
        },
        actualizarElemento(){
            this.$store.dispatch('actualizarElemento',{ contenido: this.contenido})
        },
        eliminarElemento(){
            this.$store.dispatch('eliminarElemento')
        }
    },
    computed:{
        herramientasTabSelected:{
            get(){
                return this.$store.getters.herramientasTabSelected
            },
            set(newValue){
                this.$store.dispatch("onTab", newValue);

            }   
        },
        elementoSeleccionado(){
            return this.$store.getters.elementoSeleccionado
        },
         archivoSeleccionado(){
            return this.$store.getters.archivoSeleccionado
        }
    }
}
</script>

<style>
    .input-modif{
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .center-text{
        text-align: center;
    }
    .full-width{
         width: 100%;
    }
    .component{
        text-align: center;
        width: 60%;
        margin: auto;
        margin-top: 5px;
        margin-bottom: 5px;
        border-radius: 4px;
        padding: 5px;
        background-color: white;
        box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
        transition: transform 0.35s cubic-bezier(0.4,0, 0.2, 1), box-shadow 0.35s cubic-bezier(0.4, 0, 0.2, 1);
        transform: translateY(0px)
    }
    .component:hover { 	
        box-shadow: 0 2px 4px rgba(0, 0, 0, .12), 0 0 6px rgba(0, 0, 0, .04);
        transform:translateY(-1px); 
    }

    .el-card__body{
        padding: 10px !important;
    }
</style>

