<template>
    <div >
        <h1 class="center-text">Diseñador de interfaces ITCH</h1>
    </div>
</template>

<script>
export default {
    name: 'Design'
}
</script>

<style>
    .box{
        
    }
    .center-text{
        text-align: center;
    }
</style>
