<template>
  <div id="app">
    <el-row> 
        <div class="nav-menu-x"  v-bind:style="{ width: anchoMenu +'px' }">
          <el-row>
            <el-col>
              <div @click="cerrarMenu()" style="text-align: right;margin-right: 12px;margin-top: 5px;">
                <v-icon name="times"  scale="2" style="color: #409EFF"/>
              </div>
            </el-col>
            <el-col style="border-top: 1px solid  #292d3e;">
              <h3 style="text-align: center;">Archivos<el-button style="margin-left: 10px;" type="primary" icon="el-icon-plus" circle @click="addArchivo()"></el-button></h3>
            </el-col>
          </el-row>
          <el-row >
            <el-col :span="24" v-for="(archivo, index) in archivos" :key="index" >
              <div @click="selectArchivo(index)" >
                <el-card shadow="hover" v-if="index == indexArchivoSeleccionado " style="color: #409EFF">
                  <v-icon name="file"  scale="1" style="color: #409EFF"/> {{archivo.nombre}}
                </el-card>
                <el-card shadow="hover" v-else>
                  <v-icon name="file"  scale="1" style="color: #292d3c"/> {{archivo.nombre}}
                </el-card>
              </div>
            </el-col>
          </el-row>
        </div>
      <el-col :span="24">
        <el-row>
          <el-col :span="1">
            <div @click="abrirMenu()"  >
              <v-icon name="bars"  scale="2" style="color: #409EFF;margin-left:1px;"/>
            </div>
            
          </el-col>
          <el-col :span="23">
            <h2 style="text-align:center;margin:0px;">Diseñador de interfaces <strong>ITCH</strong></h2>
          </el-col>
          <el-col :span="24" >
            <herramientas/>
          </el-col>
          <el-col :span="24" >
            <design/>
          </el-col>
        </el-row>
      </el-col>
    </el-row>
  </div>
</template>

<script>
import Herramientas from './components/Herramientas.vue';
import Design from './components/Design.vue';

export default {
  name: 'app',
  components: {
    Herramientas,
    Design
  },
  data(){
    return {
      isCollapse: true,
      anchoMenu: 0
    }
  },
  methods: {
    processFiles(e){
      var archivo = e.target.files[0];
      if (!archivo) {
        return;
      }
      var lector = new FileReader();
      lector.onload = function(e) {
        var contenido = e.target.result;
        console.log(contenido);
      };
      lector.readAsText(archivo);
    },
    abrirHerramientas(){
      this.$store.dispatch('setSideBarHerramientas', true);
    },
    abrirMenu(){
      this.anchoMenu = 300;
    },
    cerrarMenu(){
      this.anchoMenu = 0;
    },
    addArchivo(){
      this.$prompt('Ingrese el nombre del archivo', 'Crear archivo', {
        confirmButtonText: 'Crear',
        cancelButtonText: 'Cancelar',
        inputPattern: /[A-Za-z]/,
        inputErrorMessage: 'Nombre de archivo invalido, deben ser solo letras'
      }).then(({ value }) => {
        this.$store.dispatch("addArchivo", value);
        this.$message({
          type: 'success',
          message: 'Se creo el archivo'
        });
      }).catch(() => {
        this.$message({
          type: 'info',
          message: 'No se creo el archivo'
        });       
      });
      
    },
    selectArchivo(index){
      this.$store.dispatch("selectArchivo", index);
    }
  },
  computed: {
    archivos(){
      return this.$store.getters.archivos;
    },
    indexArchivoSeleccionado(){
      return this.$store.getters.indexArchivoSeleccionado;
    }
  }
}
</script>

<style>
  @font-face {
    font-family: 'MonserratN';
    src: url('~@/assets/fonts/Montserrat-Light.ttf') format('truetype');
  }
  @font-face {
    font-family: 'MonserratB';
    src: url('~@/assets/fonts/Montserrat-ExtraBold.ttf') format('truetype');
  }
  @font-face {
    font-family: 'MonserratI';
    src: url('~@/assets/fonts/Montserrat-Italic.ttf') format('truetype');
  }
  html, body {
    font-family: MonserratN;
    background-color: #f1f3f4;
    margin: 0px;
    height: 100%;
  }
  .body{
    background: #fafafa;
    background-color: #f1f3f4;
  }
  .nav-menu-x{
    margin: 0;
    padding: 0;
    height: 100%;
    position: absolute;
    z-index: 3;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: 0.5s;
    background-color:#fafafa;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    box-shadow: 0px 0px 5px 4px rgba(0, 0, 0, 0.1), 0px 0px 0px 0px rgba(0, 0, 0, 0.2); 
  }
  .nav-menu-x:hover{
    width: 400px;
  }
  #app{
    margin: 0px;
    padding: 0px;
  }
  .el-message-box__message p{
    border: none;
  }
</style>
